
.property {
  display: flex;
  align-items: center;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  background: var(--vmd-content-bg);
  height: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  color: var(--vmd-property-meta-color);
  padding-left: calc(0px + 28px + (var(--level) * 15px));
}

.property:hover, .property.isEditMode {
  background: var(--vmd-content-highlight-bg);
}

.property.updateHighlighted {
  animation: propertyUpdateHighlight 900ms ease-out;
}

@keyframes propertyUpdateHighlight {
  0%,
  25% {
    background-color: var(--vmd-update-highlight-bg);
  }

  100% {
    background-color: var(--vmd-content-bg);
  }
}

.property.expandable {
  cursor: pointer;
}

.property > span {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 12px;
  display: flex;
  flex-direction: row;
}

.property[data-fitted='false'] {
  opacity: 0.5;
}

.property.map-entry,
.property.set-entry {
  --value-color: var(--vmd-property-meta-color);
}

.property.instance {
  --value-color: var(--vmd-property-value-instance);
}

.property.inaccessible {
  --value-color: var(--vmd-property-meta-color);
}

.property.primitive.boolean,
.property.primitive.number,
.property.primitive.object,
.property.primitive.bigint,
.property.primitive.symbol {
  --value-color: var(--vmd-property-value-primitive);
}

.property.primitive.undefined {
  --value-color: var(--vmd-property-value-nullish);
}

.property.primitive.null {
  --value-color: var(--vmd-property-value-nullish);
}

.property.primitive.boolean {
  --value-color: var(--vmd-property-value-boolean);
}

.primitive.string {
  --value-color: var(--vmd-property-value-string);
}

.collectionMeta {
  color: var(--vmd-property-meta-color);
}

.typedValue {
  color: var(--value-color, var(--vmd-property-meta-color));
}

.typedValue.string {
  --value-color: var(--vmd-property-value-string);
}

.typedValue.primitive,
.typedValue.number,
.typedValue.boolean,
.typedValue.bigint,
.typedValue.symbol {
  --value-color: var(--vmd-property-value-primitive);
}

.typedValue.null,
.typedValue.undefined,
.typedValue.nullish {
  --value-color: var(--vmd-property-value-nullish);
}

.typedValue.instance {
  --value-color: var(--vmd-property-value-instance);
}

.typedValue.object,
.typedValue.array,
.typedValue.function {
  --value-color: var(--vmd-property-meta-color);
}

.propertyName {
  color: var(--vmd-base-color);
}

.propertyMeta {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.propertyValue {
  color: var(--value-color, var(--vmd-property-meta-color));
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.property.isEditMode .propertyValue {
  width: 100%;
}

.propertyValue:has(+.propertyName) {
  margin-right: 4px;
}

.property.isEditMode > [data-list-item-operations] {
  width: auto;
}

.editContent {
  min-width: 180px;
  flex: none;
  text-overflow: ellipsis;
  background: transparent;
  color: var(--vmd-edit-content-color);
  outline: 0;
  border: 1px solid var(--vmd-control-active-text-input-color);
  border-radius: 4px;
  padding: 0 4px;
}

.property.isEditMode .propertyValue > .editContent {
  width: 100%;
}