@import 'tailwindcss';
@import "@heroui/styles"; 

@theme {
  --color-brand: #00910a;
  --color-brand-accent: #F91155;
  --color-base-bg: #F5F7FA;
  --color-contrast-bg: #FFF;
}

html,
body {
  background-color: var(--color-base-bg);
}
