@import './theme.css';

.root {
  display: contents;
  box-sizing: border-box;
  color: var(--vmd-base-color);
}

.root * {
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 14px;
  box-sizing: border-box;
}

.root button {
  outline: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding-block: 0;
  padding-inline: 0;
  color: var(--vmd-base-color);
}

.root label {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  line-height: inherit;
  color: inherit;
}

.root button[data-list-item-operation][data-active],
.root button[data-list-item-operation][data-active] svg {
  color: var(--vmd-watch-active-color);
}

.root code {
  background: var(--vmd-code-bg);
  letter-spacing: 0.1px;
  padding: 0 1px;
  border-radius: 1px;
}

.hierarchyButton {
  width: 18px;
  height: 18px;
  padding: 2px;
  border-radius: 6px;

  &.active {
    background: #f0f0f01f;
  }
}

.treeItemHeader {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: auto 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.treeItemLabel {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0 4px;
  border: 0;
  border-radius: 4px;
  line-height: 1;
  font: inherit;
  color: var(--vmd-property-bg-content-color);
  white-space: nowrap;
  flex: none;
  cursor: inherit;
  user-select: none;
}

.treeItemMetaText {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.treeItem {
  display: flex;
  align-items: center;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  height: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: max(8px, calc(8px + (var(--level) - var(--depth-offset, 0)) * 20px));
  position: sticky;
  top: var(--vmd-header-height);
  z-index: 1;
  background: var(--vmd-bg);
}

.treeItem:hover {
  background: var(--vmd-content-highlight-bg);
}

.treeItem:not([data-fitted='true']) > header {
  opacity: 0.6;
}

.vmTreeItem {
  .treeItemLabel {
    background: var(--vmd-primary-bg);
  }

  .treeItemMetaText {
    color: var(--vmd-primary-color);
  }
}

.extraTreeItem {
  .treeItemLabel {
    background: var(--vmd-secondary-bg);
  }
}
